* {
    padding: 1% ; 
    margin: 2px ;
    box-sizing: border-box;
    font-family:"Bona Nova SC", serif;
}

body{
    
    display: flex;
    flex-direction: column;
    border-color:blue ;
    text-align: center;
    
    ;
}
.background-image {
    width: 75%;
    height: 30px;
    height: 100vh;
    background-image: url(https://www.gamespot.com/a/uploads/screen_kubrick/171/1712892/3730043-0.png); 
    background-size: cover;
}

.container{
  margin-top: 30px;
  border-style: groove;
  border-radius: 12px;
  border-color:silver;
  background-color:beige;
  width: 640px;
  
}
 .row {
    text-align: center;
 }
header {
    height: 100px;
    background-color: salmon;
    color: honeydew;
    font-size: 24px;
    font-family: "Bona Nova SC",serif;
    padding: 14px;
}

.content{
    display:inline;
    
}



.key-tile{
 display: inline-block;   
 padding: 20px;
 color:black;
}



h1 {
    text-align: center;
    margin-top: 0;
    font-size: 41px;
    
}

#user-input-section{
    display: flex;
    justify-content: center;
    font-size: 2px;
    margin: 1px 1.2em;
    text-align: center;
    border: 2px black;
}

#message{
    font-size: 20px;
    color: forestgreen;
}
#new-game-button{
    border-style: groove;
    background-color: aliceblue;
    padding:6px;
    position:absolute;
}


@media only screen and (max-width:520px) 
{}
